# --- Байт-код и кэш Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Виртуальное окружение ---
venv/
env/
.venv/
ENV/

# --- Настройки IDE (PyCharm, VS Code) ---
.idea/
.vscode/
*.iml

# --- Файлы с секретами (ВАЖНО!) ---
.env
config.json  # Если в нем хранятся пароли (см. пояснение ниже)

# --- Файлы операционной системы ---
.DS_Store
Thumbs.db

# --- Логи и базы данных ---
*.log
*.sqlite3
db.sqlite3
